html, body {
    height: 100%;
}

/* Custom height class to fill 1/2 of 1/2 of the remaining 25% of height */
.h-94 {
    height: 93.75% !important;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

#carousel {
    margin-bottom: 1rem !important;
}

.carousel-img {
    transition: 0.7s;
    transition-timing-function: ease-out;
}

.carousel-img.moveRight {
    transition: 0.7s;
    transition-timing-function: ease-out;
    position: absolute;
    margin-left: 50% !important;
    opacity: 0;
}

.carousel-img.stageLeft {
    opacity: 0;
    position: absolute;
    margin-left: -150% !important;
}